a.button {
    display: block;
    width: 180px;
    height: 50px;
    margin: 25px 0 0 120px;
    font-weight: normal;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    color: White;
    background: url(images/barrita.png);
}